@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/solarized';
@import '~codemirror/addon/fold/foldgutter';
@import '~codemirror/addon/hint/show-hint';
@import '~codemirror/addon/lint/lint';

.CodeMirror {
    font-family: 'Roboto Mono' !important;
    font-size: 13px !important;
}
.button-style {
    font-size: 20px;
}

.button-style[disabled] {
    cursor: not-allowed !important;
}

.script-output-section {
    font-family: 'Roboto Mono';
    font-size: 13px !important;
    min-width: 100%;
    min-height: 25em;
}

.flexible-space {
    flex: 0 0 64px;
}
